
.leaf div:nth-child(1) {
  left: 0%;
  animation: fall 18s linear infinite;
  animation-delay: -1s;
}

.leaf div:nth-child(2) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -1s;
}

.leaf div:nth-child(3) {
  left: 20%;
  animation: fall 22s linear infinite;
  animation-delay: -1s;
}

.leaf div:nth-child(4) {
  left: 30%;
  animation: fall 20s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(5) {
  left: 40%;
  animation: fall 22s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(6) {
  left: 50%;
  animation: fall 24s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(7) {
  left: 60%;
  animation: fall 22s linear infinite;
  animation-delay: -3s;
}

.leaf div:nth-child(8) {
  left: 70%;
  animation: fall 24s linear infinite;
  animation-delay: -3s;
}

.leaf div:nth-child(9) {
  left: 80%;
  animation: fall 26s linear infinite;
  animation-delay: -3s;
}

.leaf div:nth-child(10) {
  left: 95%;
  animation: fall 24s linear infinite;
  animation-delay: -3s;
  
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX(calc(-20px + var(--random-x))) rotate(45deg);
  }
  40% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(90deg);
  }
  60% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(135deg);
  }
  80% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(180deg);
  }
  100% {
    top: 95%;
    transform: translateX(calc(-20px + var(--random-x))) rotate(225deg);
  }
}


.leaf div {
  position:fixed;
  z-index: 0;
}
body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}
.all {
  display:flex;
}
